body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	color : Black;
}

a:active, a:link, a:visited {
	color : #0E80EF;
	text-decoration : none;
}

a:hover {
	color : #0E80EF;
	text-decoration : underline;
}

h1 {
	font-size : 20pt;
	font-weight : bold;
	color : White;
	margin-bottom : 0pt;
	margin-top: 0pt;
}

h2 {
	font-size : 13pt;
	font-weight : bold;
	margin-top : 5pt;
	margin-right : 2pt;
	margin-bottom : 1pt;
}

h3 {
	font-size: 10pt;
	font-weight: normal;
	font-style : italic;
	margin-top: 4pt;
	margin-bottom: 0pt;
}

table.header {
	margin-bottom : 3pt;
	height: 30pt;
}

tr.header {
	vertical-align : middle;
}

ul {
	margin-left : 20pt;
	margin-top : 5pt;
}

ul.sub {
	margin-top: 0pt;
}

.seealso {
	font-size : 10pt;
	font-variant : small-caps;
	font-weight : bold;
	background-color : #87CEFA;
	margin-bottom : 1pt;
	border-top-color : #4682b4;
	border-top-style : solid;
	border-top-width : thin;
}

samp {
	font-family : "Courier New", Courier, monospace;
	font-size : 10pt;
	border : 1pt solid Blue;
	margin-top : 8pt;
	margin-bottom : 8pt;
	display : block;
	white-space : pre;
	padding-bottom : 1pt;
	padding-left : 4pt;
	padding-top : 1pt;
	padding-right : 4pt;
}

code {
	font-family : "Courier New", Courier, monospace;
	font-size : 10pt;
	white-space : nowrap;
}

dl {
	margin-left : 20pt;
	margin-top: 5pt;
}

dt {
  margin-top: 5pt;
	font-weight: bold;
}

.pathvarmarker {
	font-size : 8pt;
	font-weight : normal;
	margin-left: 10pt;
	color: gray;
}

.varmarker {
	font-weight : bold;
	background-color : Green;
	color : Lime;
	border : thin solid Black;
	font-size : 6pt;
	margin-left : 10pt;
}

.reqmarker {
	font-weight : bold;
	background-color : Red;
	color : White;
	border : thin solid Maroon;
	font-size : 6pt;
	margin-left : 10pt;
}

img.blockimage {
	border : none;
	display : block;
	text-align : center;
	margin-bottom : 3pt;
	margin-top : 3pt;
}

.stop {
	margin-top : 3pt;
	margin-bottom : 3pt;
	display : block;
	padding-bottom : 3pt;
	padding-left : 4pt;
	padding-top : 3pt;
	padding-right : 4pt;
	background-color: #CCCCCC;
}

image.leftmarker {
	margin-right : 3pt;
	float : left;
}